
<div class="container">
  <div class="form">
    <input type="text"
    placeholder="faça sua busca"
    [(ngModel)]="initialValue"
    class="input">
    <button class="button" (click)="search()">Buscar</button>
  </div>
  <div class="container-result">
    <div class="result">
        <div class="product" *ngFor="let item of products">
            <div class="wapper">
              <span class="key">id:</span>
              <span class="value">{{ item.id }}</span>
            </div>

            <div class="wapper">
              <span class="key">name: </span>
              <span class="value">{{ item.name }}</span>
            </div>

            <div class="wapper">
              <span class="key">Type:</span>
              <span class="value">{{ item.type }}</span>
            </div>
        </div>
    </div>
    <div class="suggestions" >
      <span class="suggestion" (click)="searchBysuggestion(suggestion.term)" *ngFor="let suggestion of suggestions">{{ suggestion.term }}</span>
    </div>
  </div>
</div>
