<div class="container">
  <div class="menu">
    <div class="wapper">
      <div class="mobile-only">
        <img
          src="../assets/icons/menu.svg"
          alt="menu mobile icon to small screen"
        />
      </div>
      <div class="logo">
        <div class="logo-img">
          <img src="../assets/img/logo.png" alt="logo brand company" />
        </div>
        <div class="brand no-mobile">
          <h2 class="brand-name">Zutterman</h2>
          <h4 class="brand-lastname">Measure Tapes</h4>
        </div>
      </div>

      <ul class="list no-mobile">
        <li class="list-item">
          <a class="list-link">ABOUT US</a>
        </li>
        <li class="list-item">
          <a class="list-link">MODELS</a>
        </li>
        <li class="list-item">
          <a class="list-link">GUARANTEE</a>
        </li>
      </ul>
    </div>
  </div>

  <main class="main">
    <section class="call-action">
      <div class="call-action-text">
        <h1 class="title">
          Measuring everything
        </h1>
      </div>

      <div class="call-action-img">
        <img src="../assets/img/call-action-img.png" alt="measure tool" class="img" />
      </div>
    </section>

    <section class="content">
      <h2 class="title">
        We are Leader <br class="no-mobile"/> in Measure Tapes
      </h2>
      <p class="subtitle">
        There are 5x the <br class="no-mobile"/>circumference of planet <br class="no-mobile"/> earth in metric tapes.
      </p>
    </section>
  </main>

  <footer class="footer">
    <div class="social-media">
      <span class="title">
        Follow Us
      </span>
      <div class="icons">
        <img src="../assets/icons/youtube.svg"  class="icon" alt="youtube icon">
        <img src="../assets/icons/facebook.svg" class="icon" alt="facebook icon">
        <img src="../assets/icons/twitter.svg" class="icon" alt="twitter icon">
      </div>
    </div>

    <div class="contact-us">
      <span class="title">
        Contact
      </span>
      <span class="address">
        2490 Leisure Lane San Luis Obispo California
      </span>
    </div>
  </footer>
</div>
